.header {
    background-color: #cce5ff;
    color: navy;
    position: sticky;
    top: 0;
    z-index: 1071;
}

#title {
    color: navy;
    font-size: 3em;
}

input.move {
    max-width: 80px;
    display: inline !important;
}

#move-feedback {
    max-width: 300px;
}

.calendar tbody td {
    text-align: right;
}

.calendar tbody td.today {
    background-color: #cce5ff;
    color: navy;
}
