<div class="alert alert-primary mt-5">
        <h4 class="alert-header">
            {{position['move_index']}}.{% if position['color'] == 'b' %}..{% endif%}{{ position['played_move'] }}
        </h4>
        <p>
            {% if position['played_move_good'] %}
            <span class="fas fa-thumbs-up"></span>
            {% endif %}
            {{ position['move_feedback'] }}
        </p>
</div>
{% if not position['played_move_good'] %}
    <h4>Other move?</h4>
    {% include "forms/move_entry_form.html" %}

    {% if position['hint_positions'] %}
        <h3 class="mt-5">Try 2 easier exercises</h3>
        <div class="font-italic">Kettőt, könnyebbet</div>
        {% for position in position['hint_positions'] %}
            {% include "position_component_content.html" %}
        {% endfor %}
    {% endif %}

{% endif %}