    <div id="move-feedback">
    {% include "feedback_was_it_me.html" %}
    {% include "feedback_move.html" %}
    {% if position['follow_up_positions'] %}
        <h3 class="mt-5">Bonus exercise</h3>
        {% for position in position['follow_up_positions'] %}
            {% include "position_component_content.html" %}
        {% endfor %}
    {% endif %}
    </div>