{% extends "base.html" %}
{% block content %}
    <div class="row mb-5">
        {% if not logged_in %}
        <div class="d-none d-md-block col-md-2"></div>
        <div class="col-12 col-md-8">
            <a role="button" class="btn btn-primary mb-3" href='/login#content'>Login</a>
        </div>
        <div class="d-none d-md-block col-md-2"></div>
        {% endif %}
        <div class="d-none d-md-block col-md-2"></div>
        {% for position in positions %}
            {% include "position_component.html" %}
        {% endfor %}
        <div class="d-none d-md-block col-md-2"></div>

        {% if both_attempted and logged_in %}
        <div class="d-none d-md-block col-md-2"></div>
          {% if guessed_topic %}
            {% include "topic_component.html" %}
          {% else %}
            {% include "forms/topic_form.html" %}
          {% endif %}
        <div class="d-none d-md-block col-md-2"></div>
        {% endif %}

        {% block edition_overview %}
        {% endblock %}

    </div>
{% endblock %}
