{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-2">
        <form method="post">
            <p><input type=text value="LUIS" name=username class="form-control"></p>
            <p><input type=password name=password class="form-control" autofocus=""></p>
            <p><input type=submit value="I'm really LUIS" class="btn btn-primary"></p>
        </form>
    </div>
</div>
{% endblock %}