<div class="d-none d-md-block col-md-2"></div>
<div class="col-12 col-md-7 mt-3">
        <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{ solved_main_count * 2 }}%;" aria-valuenow="{{ solved_main_count }}" aria-valuemin="0" aria-valuemax="48">{{ solved_main_count }}</div>
</div>
</div>
<div class="d-none d-md-block col-md-2"></div>
