<form method="post" action="/positions/{{position['id']}}/attempts" class="mt-2 mb-5">
    <input type=hidden name=day value={{ dateparam }}>
    {{position['move_index']}}.{% if position['color'] == 'b' %}..{% endif%}<input type=text name=move class="form-control move ml-1">

    {% if position['main'] and not position['done'] %}
      {% include "forms/was_it_me_input.html" %}
    {% endif %}

    <input type=submit value="Let's see" class="btn btn-primary play-button mt-1">
</form>