<div class="col-12 col-md-3 mb-5">
    <h4>What is today's topic?</h4>
    <form method="post" action="/topic">
        <input type=hidden name=day value={{ dateparam }}>
        <input type=text name=topic class="form-control">
        <input type=submit value="I guess" class="btn btn-primary mt-2">
    </form>
</div>
<div class="col-md-5"></div>