<div class="font-italic">
  Was it ME?
  <div class="form-check">
    <input class="form-check-input" type="radio" name="was_it_me" id="was_it_me_yes" value="yes">
    <label class="form-check-label" for="was_it_me_yes">
      Yes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="was_it_me" id="was_it_me_no" value="no">
    <label class="form-check-label" for="was_it_me_no">
      No
    </label>
  </div>
</div>