{% extends "index.html" %}
{% block edition_overview %}

        <div class="d-none d-md-block col-md-2"></div>
        <div class="col-12 col-md-7">
            <table class="table table-bordered calendar">
                 <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="/days/2018-12-01">1</a></td>
      <td><a href="/days/2018-12-02">2</a></td>
    </tr>
    <tr>
      <td><a href="/days/2018-12-03">3</a></td>
      <td><a href="/days/2018-12-04">4</a></td>
      <td><a href="/days/2018-12-05">5</a></td>
      <td><a href="/days/2018-12-06">6</a></td>
      <td><a href="/days/2018-12-07">7</a></td>
      <td><a href="/days/2018-12-08">8</a></td>
      <td>9</td>
    </tr>
    <tr>
      <td><a href="/days/2018-12-10">10</a></td>
      <td><a href="/days/2018-12-11">11</a></td>
      <td><a href="/days/2018-12-12">12</a></td>
      <td><a href="/days/2018-12-13">13</a></td>
      <td><a href="/days/2018-12-14">14</a></td>
      <td><a href="/days/2018-12-15">15</a></td>
      <td><a href="/days/2018-12-16">16</a></td>
    </tr>
    <tr>
      <td><a href="/days/2018-12-17">17</a></td>
      <td><a href="/days/2018-12-18">18</a></td>
      <td><a href="/days/2018-12-19">19</a></td>
      <td><a href="/days/2018-12-20">20</a></td>
      <td><a href="/days/2018-12-21">21</a></td>
      <td><a href="/days/2018-12-22">22</a></td>
      <td><a href="/days/2018-12-23">23</a></td>
    </tr>
    <tr>
      <td><a href="/days/2018-12-24">24</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
</tbody>
            </table>
        </div>
        <div class="d-none d-md-block col-md-2"></div>

{% include "progress_component.html" %}
{% endblock %}
