{% extends "index.html" %}

{% block edition_overview %}
        <div class="d-none d-md-block col-md-2"></div>
        <div class="col-12 col-md-7">
<table class="table table-bordered calendar">
     <tbody>
<tr>
<td><a href="/days/2019-08-17">17</a></td>
<td><a href="/days/2019-08-18">18</a></td>
<td>19</td>
<td>20</td>
<td>21</td>
</tr>
<tr>
<td>22</td>
<td>23</td>
<td>24</td>
<td>25</td>
</tr>
</tbody>
</table>
        </div>
        <div class="d-none d-md-block col-md-2"></div>
{% endblock %}
